<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="TSLK Editor"
            extensions="tslk"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.ng200.tslk.ide.editors.TSLKEditor"
            id="org.ng200.tslk.ide.editors.TSLKEditor">
      </editor>
   </extension>

</plugin>
